    <div class="container">

        <h1 class="title">
            Meus Pontos
        </h1>

        <div class="row">
            <div class="col-md-8">
            </div>
        </div>
        <div class="row">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Quantidade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="#">Multiplus</a>
                        </td>
                        <td>830</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">Pontos UP!</a>
                        </td>
                        <td>1550</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">KM de Vantagens Ipiranga</a>
                        </td>
                        <td>2440</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">Cliente Mais</a>
                        </td>
                        <td>12000</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">Petrobras Premmia</a>
                        </td>
                        <td>5000</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>