<h1 class="titulo">Cadastrar vendas</h1>

<div class="caixanuncio col-md-6">

    <input type="text" name="tipopontos" class="form-control formPadrao" placeholder="Insira o Tipo de Ponto" ng-model="tipopontos" required>

    <input type="text" name="quantidade" class="form-control formPadrao" placeholder="Insira a Quantidade" ng-model="quantidade" required>
    
    <input type="text" name="valor" class="form-control formPadrao" placeholder="Insira o Valor" ng-model="valor" required>
    
    <button class="botaoPadrao" ng-click="cadastrarVenda(tipopontos, quantidade, valor)" >Salvar</button>

</div>
