<h1 class="titulo">Minhas vendas</h1>

			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Tipo de Pontos</th>
						<th>Quantidade</th>
						<th>Valor</th>
						<th>Comprador</th>
					</tr>
				</thead>
				<tbody>
					<div id="multiplus" class="multiplus">
						<tr>
							<td>
								<a href="#">Multiplus</a>
							</td>
							<td>150,00</td>
							<td>14.000</td>
							<td>Debora Mayara</td>
						</tr>
					</div>
					
					<div id="tudoazul" class="tudoazul">
						<tr>
							<td>
								<a href="#">Tudo Azul</a>
							</td>
							<td>10.000</td>
							<td>100,00</td>
							<td>Andrei Maxwell</td>
						</tr>
					</div>

					<div id="smiles" class="smiles">
						<tr>
							<td>
								<a href="#">Smiles</a>
							</td>
							<td>20.000</td>
							<td>275,00</td>
							<td>Andrei Maxwell</td>
						</tr>
					</div>

					<div id="allpoints" class="allpoints">
						<tr>
							<td>
								<a href="#">Allpoints</a>
							</td>
							<td>1.500</td>
							<td>50,00</td>
							<td>Vitoria Oliveira</td>
						</tr>
					</div>

					<div id="ipiranga" class="ipiranga">
						<tr>
							<td>
								<a href="#">Ipiranga</a>
							</td>
							<td>15.000</td>
							<td>270,00</td>
							<td>Francisco Oliveira</td>
						</tr>
					</div>

					<div id="ipiranga" class="ipiranga">
						<tr>
							<td>
								<a href="#">Ipiranga</a>
							</td>
							<td>7.000</td>
							<td>90,00</td>
							<td>Alessandra L.</td>
						</tr>
					</div>

					<div id="smiles" class="smiles">
						<tr>
							<td>
								<a href="#">Smiles</a>
							</td>
							<td>9.434</td>
							<td>60,00</td>
							<td>Gustavo L.</td>
						</tr>
					</div>

					<div id="multiplus" class="multiplus">
						<tr>
							<td>
								<a href="#">Multiplus</a>
							</td>
							<td>9.000</td>
							<td>50,00</td>
							<td>Rafaela C.</td>
						</tr>
					</div>

					<div id="multiplus" class="multiplus">
						<tr>
							<td>
								<a href="#">Multiplus</a>
							</td>
							<td>19.000</td>
							<td>300,00</td>
							<td>Adryan Luiz</td>
						</tr>
					</div>
					
				</tbody>
			</table>
