<div class="perfilTopo col-md-8">
	<div class="row perfil-header">
		<div class="perfil-header-sub">
			<h1 class="title titulo">Perfil</h1>
			<div class="col-md-3 box-menu">
				<a href="#/perfil">
					<img src="img/icone-perfil.PNG" alt="icone perfil usuário">
				</a>

				<a href="#/perfil">Perfil do usuário</a>
			</div>

			<div class="col-md-3 col-md-offset-1 box-menu">
				<a href="#/meus_pontos">
					<img src="img/icone-meus-pontos.PNG" alt="Meus Pontos">
				</a>

				<a href="#/meus_pontos">Tipos de pontos</a>
			</div>
		</div>
	</div>
</div>
		
<div class="conteudoPage col-md-6">
	<h4 class="titulo">Perfil do usuário</h4>
	
	<form class="form-horizontal">
		<input type="text" name="nome" class="form-control formPadrao" placeholder="Nome" ng-model="nome" required>

		<input type="text" name="sobrenome" class="form-control formPadrao" placeholder="Sobrenome" ng-model="sobrenome" required>

		<input type="email" name="email" class="form-control formPadrao" placeholder="E-amil" ng-model="email" required>

		<input type="text" name="cpf" class="form-control formPadrao" placeholder="CPF" ng-model="cpf" required>
		
		<input type="text" name="login" class="form-control formPadrao" placeholder="Login" ng-model="login" required>

		<input type="password" name="senha" class="form-control formPadrao" placeholder="Senha" ng-model="senha" required>
		
		<button class="botaoPadrao" ng-click="atualizarPerfilUsuario(nome, sobrenome, email, cpf, login, senha)">atualizar</button>

	</form>

</div>
