<div class="col-xs-12">

	<div class="col-md-12">
		<h1 class="titulo">
			Perfil
		</h1>

		<div class="row perfil-header">
			<div class="perfil-header-sub">
				<div class="col-md-3 box-menu">
					<img src="img/perfil.png" alt="Perfil do usuário">
					<br>
					<a href="#/alterar_senha">Perfil do usuário</a>
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-3 box-menu">
					<img src="img/tipos.png" alt="Meus Pontos">
					<br>
					<a href="#/meus_pontos">Tipos de pontos </a>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
		<br>
			<div class="titulo">Perfil do usuário</div>
		<br>
		</div>
		<div class="row">
			<div class="col-md-12">
				<form class="form-horizontal">
					<div class="form-group">
						<div class="input-group">
							<input type="text" class="form-control formPadrao" id="nome" placeholder="Nome" style="width: 310px;">
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<input type="text" class="form-control formPadrao" placeholder="Sobrenome" style="width: 310px;">
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<input type="text" class="form-control formPadrao" placeholder="E-mail" style="width: 310px;">
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<input type="text" class="form-control formPadrao" placeholder="CPF" style="width: 310px;">
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<input type="text" class="form-control formPadrao" placeholder="Login" style="width: 310px;">
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<input type="text" class="form-control formPadrao" placeholder="Senha" style="width: 310px;">
						</div>
					</div>
					
					<button class="botaoPadrao">atualizar</button>

				</form>
			</div>
		</div>
	</div>
	
</div>
