<div class="col-xs-12">
	<div class="row">
		<h2 style="margin-left: 30px;">Histórico de Compras</h2>
	</div>
 	<div class="row">
 		<div class="col-md-12 well">
 			<table class="table tablepontos">
 				<tr>
 					<th>Tipo</th>
 					<th>Comprador</th>
 					<th>Quantidade</th>
 					<th>Valor</th>
 					<th>Data</th>
 				</tr>
 				<tr>
 					<td>Multiplus</td>
 					<td>Débora</td>
 					<td>1000</td>
 					<td>R$ 150,00</td>
 					<td>20/08/2016</td>
 				</tr>
 				<tr>
 					<td>Multiplus</td>
 					<td>Débora</td>
 					<td>1000</td>
 					<td>R$ 150,00</td>
 					<td>20/08/2016</td>
 				</tr>
 				<tr>
 					<td>Multiplus</td>
 					<td>Débora</td>
 					<td>1000</td>
 					<td>R$ 150,00</td>
 					<td>20/08/2016</td>
 				</tr>
 				<tr>
 					<td>Multiplus</td>
 					<td>Débora</td>
 					<td>1000</td>
 					<td>R$ 150,00</td>
 					<td>20/08/2016</td>
 				</tr>
 			</table>
 		</div>
 	</div>
</div>