<div class="col-xs-12">

	<h1 class="title">
		Home
	</h1>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-8">
				<table style="width: 100%;">
					<tr>
						<td>
							<form class="form-horizontal">
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
										<input type="text" class="form-control" id="exampleInputAmount" placeholder="Buscar Pontos">
									</div>
								</div>
							</form>
						</td>
						<td>
							<button class="botaoPadrao" style="float: right;">Buscar</button>
						</td>
					</tr>
				</table>
				
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-3 well containerpontos">
				<b>Multiplus</b> 
				14.000 pts por R$ 150,00
				debora@email.com
				<br>
				Débora Mayara
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-3 well containerpontos">
				<b>Allpoints</b> 1.500 pts por R$ 50,00
				vitoria@email.com
				<br>
				Vitória Oliveira
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-3 well containerpontos">
				<b>Smiles </b> 9.434 pts por R$ 60,00
				gustavo@email.com
				<br>
				Gustavo L.
			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-3 well containerpontos">
				<b>Tudo Azul</b> 10.000 por R$ 100,00
				maxwel@email.com
				<br>
				Andrei Maxwel
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-3 well containerpontos">
				<b>Amigo</b> 15.000 por R$ 270,00
				oliveira@email.com
				<br>
				Francisco Oliveira
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-3 well containerpontos">
				<b>Multiplus</b> 9.000 por R$ 50,00
				rafaela@email.com
				<br>
				Rafaela C.
			</div>
		</div>
	</div>
	<div class="row">
	<div class="col-md-12">
		<div class="col-md-3 well containerpontos">
		<b>Smiles</b> 20.000 por R$ 275,00
		david@email.com
			<br>
			Dimitri David
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-3 well containerpontos">
			<b>Amigo</b> 7.000 por R$ 90,00
			alessandra@email.com
			<br>
			Alessandra L.
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-3 well containerpontos">
			<b>Multiplus</b> 19.000 por R$ 300,00
			luiz@email.com
			<br>
			Adryan Luiz
		</div>
	</div>
</div>
</div>