<div class="col-xs-12">

	<h1 class="titulo">Home</h1>

	<div class="col-md-8">
		<table class="tabela">
			<tr>
				<td>
					<form class="form-horizontal">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
								<input type="text" class="form-control" id="exampleInputAmount" placeholder="Buscar Pontos">
							</div>
						</div>
					</form>

				</td>
				<td>
					<button class="botaoPadrao ajusteB">Buscar</button>
				</td>
			</tr>
		</table>
				
	</div>
</div>

<div class="col-md-12">
	<div class="col-md-3 well containerpontos">
				<b>Multiplus</b> 14.000 pts por R$ 150,00
				<br>
				Débora Mayara<br />
				<a href="mailto:deboramayara@gmail.com">deboramayara@gmail.com</a>
	</div>

	<div class="col-md-3 col-md-offset-1 well containerpontos">
				<b>Allpoints</b> 1.500 pts por R$ 50,00
				<br>
				Romulo Xavier de Sousa<br />
				<a href="mailto:romulo.xavier25@gmail.com">romulo.xavier25@gmail.com</a>
	</div>

	<div class="col-md-3 col-md-offset-1 well containerpontos">
		<b>Smiles </b> 9.434 pts por R$ 60,00
		<br>
		Juan Victor<br />
		<a href="mailto:juanvictor@gmail.com">juanvictor@gmail.com</a>
	</div>
</div>
