<div class="col-xs-12">

	<h1 class="title">
		Perfil
	</h1>
	<div class="row perfil-header">
		<div class="perfil-header-sub">
			<div class="col-md-3 box-menu">
				<img src="img/search.png" alt="Filtrar Pontos">
				<br>
				<a href="#/alterar_senha">Filtrar Pontos</a>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-3 box-menu">
				<img src="img/meus-pontos.png" alt="Meus Pontos">
				<br>
				<a href="#/meus_pontos">Meus Pontos</a>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-3 box-menu">
				<img src="img/profile.png" alt="Minhas Compras">
				<br>
				<a href="#/minhas_compras">Minhas Compras</a>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12">
			<form class="form-horizontal">
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
						<input type="text" class="form-control" id="exampleInputAmount" value="Débora Mayara">
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon"><span class="glyphicon glyphicon-credit-card"></span></div>
						<input type="text" class="form-control" id="exampleInputAmount" value="999.999.999-99">
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></div>
						<input type="text" class="form-control" id="exampleInputAmount" value=" (88)8888-8888">
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
						<input type="text" class="form-control" id="exampleInputAmount" value="debs@debs.com">
					</div>
				</div>
			</form>
		</div>
	</div>

</div>