<h1 class="titulo">Qualificar usuário</h1>

<div class="iconeQualificacao col-md-3 col-md-offset-4">
    <div class="col-md-12 box-menu">
        <img src="img/icone-perfil.PNG" alt="icone do perfil" />
    </div><!-- fim da Div Icone Qualificação -->

    <div class="conteudoQualificacao col-xs-12">
        <p>
            <label> Avalie o Usuário aqui: </label>
        </p>

        <div class="estrelas">            
            <label for="cm_star-1"><i class="fa fonteT"></i></label>
            <input type="radio" id="cm_star-1" name="fb" value="1" checked />
            
            <label for="cm_star-2"><i class="fa fonteT"></i></label>
            <input type="radio" id="cm_star-2" name="fb" value="2"/>
            
            <label for="cm_star-3"><i class="fa fonteT"></i></label>
            <input type="radio" id="cm_star-3" name="fb" value="3"/>

            <button class="botaoPadrao" ng-click="cadastrarVenda(tipoDePontos, quantidade, valor)">Finalizar compra</button>
        </div><!-- fim da Div Estrelas -->
    </div><!-- fim da Div Conteudo Qualificação -->
   
</div>
