	
	<div class="formularioUsuario col-xs-12">

		<h1 class="tituloLogin">Alterar senha</h1>

		<form>
			<input type="email" name="email" class="form-control formPadrao" placeholder="email" ng-model="email" required>

			<input type="password" name="senha" class="form-control formPadrao" placeholder="nova senha" ng-model="senha" required>

			<button class="botaoPadrao" ng-click="recuperarSenhaUsuario(email, senha)">atualizar</button>

		</form>
	</div><!-- fim da DIV formulario -->

	<div class="areaDoUsuario col-xs-12">
		<a href="#/login">voltar</a>
	</div><!-- fim da DIV Link Cadastrar Usuario -->
