
	<div class="formulario col-xs-12">
			
		<h1 class="tituloLogin">PointStore</h1>

		<form>
			<input type="text" name="login" class="form-control formPadrao" placeholder="login">

			<input type="password" name="senha" class="form-control formPadrao" placeholder="senha">

			<button class="botaoPadrao">logar</button>
		</form>

	</div><!-- fim da DIV formulario -->

	<div class="areaDoUsuario col-xs-12">
		<a href="#/alterar_senha">Esqueceu a senha?</a> | 
		<a href="#/cadastro_usuario">cadastrar usuario</a>
	</div><!-- fim da DIV Link Cadastrar Usuario -->